html {
    background: #191919;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
a {
    color: #ff6600;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
    color: #ffffff;
}

td {
    margin-right: 10px;
}

form input {
    margin: 4px;
    height: 20px;
}