<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZimSport</title>
  <link rel="stylesheet" th:href="@{/konStyle.css}">
  <link rel="stylesheet" th:href="@{/VortStyle.css}">
  <link rel="stylesheet" th:href="@{/indexStyle.css}">

</head>
<body>
<header>
  <img th:src="@{/pictures/logo.png}" alt="logo">
  <nav>
    <ul class="navbar-list">
      <li><a class = "nav-a" th:href="@{/}">INFORMACE</a></li>
      <li><a class = "nav-a" th:href="@{/equipment}">VYBAVENÍ</a></li>
      <li><a class = "nav-a" th:href="@{/contact}">KONTAKT</a></li>
    </ul>
  </nav>
  <div id="bSingd">
    <a th:href="@{/login}"><button id="Bsing">Přihlásit se</button></a>
  </div>
</header>

<main>
  <div class="frst-panel-kon">
    <h1>Kontakty</h1>
    <h2>Máte otázky ohledně výpůjček, nebo ohledně naší firmy?</h2>
    neváhejte nás kontaktovat!
  </div>
  <div class="kontakty">
    <div id="kont-cont">
      <div id="kont-cont-tables">
        <div>
          <h3>Kontakty</h3>
          <table>
            <tr>
              <td>Email:</td>
              <td>kontakt@zimsport.cz</td>
            </tr>
            <tr>
              <td>Tel.: </td>
              <td>+420 123 456 789</td>
            </tr>
          </table>
        </div>
        <div>
          <table>
            <h3>Adresa</h3>
            <tr>
              <td>Palachova 1129</td>
            </tr>
            <tr>
              <td>Budova C - Byt:C3</td>
            </tr>
            <tr>
              <td>Nový Hradec Králové</td>
            </tr>
            <tr>
              <td>500 12</td>
            </tr>
          </table>
        </div>
        <div id="oteviraciDoba">
          <table>
            <h3>Otevírací doba</h3>
            <tr>
              <td>Pondělí</td>
              <td>9:00</td>
              <td>17:00</td>
            </tr>
            <tr>
              <td>Úterý</td>
              <td>9:00</td>
              <td>17:00</td>
            </tr>
            <tr>
              <td>Středa</td>
              <td>9:00</td>
              <td>17:00</td>
            </tr>
            <tr>
              <td>Čtvrtek</td>
              <td>9:00</td>
              <td>17:00</td>
            </tr>
            <tr>
              <td>Pátek</td>
              <td>9:00</td>
              <td>17:00</td>
            </tr>
            <tr>
              <td>Sobota</td>
              <td>9:00</td>
              <td>13:00</td>
            </tr>
            <tr>
              <td>Neděle</td>
              <td>Zavřeno</td>
            </tr>
          </table>
        </div>
      </div>
      <img th:src="@{/pictures/snowboard-4803050_1920.jpg}" alt="snowboard">
    </div>
  </div>
</main>

<footer>
  Jedná se o studentský zápočtový projekt pro univerzitu Hradec Králové
</footer>
</body>
</html>