<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet"  th:href="@{/temporary.css}">
</head>
<body>

<a role="button" th:href="@{/register}">Vytvořit účet</a>
<a role="button" th:href="@{/reservations/1}">Moje rezervované vybavení</a>

<div>
  <h2>Kategorie</h2>
  <ul>
    <li th:each="c : ${categories}">
      <a th:href="@{/category/{id}(id=${c.id})}" th:text="${c.name}">Category Name</a>
    </li>
    <li><a th:href="@{/}">Všechny</a></li> <!-- Link to show all -->
  </ul>
</div>

<table>
  <thead>
  <tr>
    <th scope="col">Název</th>
    <th scope="col">Skladem</th>
    <th scope="col">Kategorie</th>
    <th scope="col">Kondice</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="e : ${equipment}">
    <td th:text="${e.name}"></td>
    <td th:text="${e.available} ? 'Skladem' : 'Zarezervováno'"></td>
    <td th:text="${e.category.name}"></td>
    <td th:text="${e.condition.name}"></td>
    <td>
      <form method="post" th:if="${e.available}" th:action="@{/reserve/{id}(id=${e.id})}">
        <input type="submit" value="Rezervovat">
      </form>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
