<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  th:href="@{/temporary.css}">
</head>
<body style="width: 98vw; height: 90vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">
<h2>Registrace</h2>
<form style="display: flex; flex-direction: column;" method="post" th:action="@{/register}" th:object="${customer}">
    <input type="hidden" th:name="id" th:value="${id}" />
    <input th:field="*{firstName}" placeholder="First Name"/>
    <input th:field="*{lastName}" placeholder="Last Name"/>
    <input th:field="*{email}" placeholder="Email"/>
    <input th:field="*{phone}" placeholder="Phone"/>
    <input type="submit" value="Zeregistrovat se"/>
</form>
</body>
</html>