<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZimSport</title>
    <link rel="stylesheet" th:href="@{/styles/VortStyle.css}">
    <link rel="stylesheet" th:href="@{/styles/vybStyle.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
  <img th:src="@{/pictures/logo.png}" alt="logo">
    <nav>
        <ul class="navbar-list">
            <li><a class = "nav-a" th:href="@{/index}">INFORMACE</a></li>
            <li><a class = "nav-a" th:href="@{/vybaveni}">VYBAVENÍ</a></li>
            <li><a class = "nav-a" th:href="@{/pujcovna}">PŮJČOVNA</a></li>
            <li><a class = "nav-a" th:href="@{/kontakt}">KONTAKT</a></li>
        </ul>
    </nav>
    <a th:href="@{/prihlaseni}"><button id="Bsing" > Přihlásit se</button></a>
    </header>

<main>
    <div class="frst-pan-vyb">
        <p>
        <h1>Vybavení</h1>
        <h3>Prohlédněte si, co si u nás lze půjčit</h3>
        o tomto obchodě, triady triady, jsme půjčovna
        </p>
    </div>
  <div class="eq-category">
    <h2>Kategorie</h2>
    <ul class ="eq-category-list">

      <li id="eq1">Lyže</li>
      <li id="eq2">Snowboardy</li>
      <li id="eq3" >Bězky</li>
      <li id="eq4">Helmy</li>
      <li id="eq5">Boty</li>
    </ul>
      <a href="#item-table-Container">
        <button id="itemButton">
            Přejít na seznam
        </button>
      </a>
  </div>
  <div id="item-container">
      <h2>Seznam vybavení</h2>
      <div id="item-table-Container">
        <table>
            <tr>
                <th>Název</th>
                <th>Kategorie</th>
                <th>Fyzický stav</th>
                <th>Popis</th>
                <th>Cena</th>
                <th>Záloha</th>
            </tr>
            <tr>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
            </tr>
            <tr>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
            </tr>
            <tr>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
            </tr>
            <tr>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
            </tr>
            <tr>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
            </tr>
            <tr>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
            </tr>
            <tr>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
            </tr>
            <tr>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
            </tr>
            <tr>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
            </tr>
            <tr>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
                <td>dynamicky JS</td>
            </tr>

        </table>
      </div>
      <button id ="reservationbutton">Zažádat o rezervaci</button>
  </div>


</main>

<footer>
  Jedná se o studentský zápočtový projekt pro univerzitu Hradec Králové
</footer>
</body>
</html>