<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  th:href="@{/temporary.css}">
</head>
<body>
<table>
    <thead>
    <tr>
        <th scope="col">Vypůjčené vybavení</th>
        <th scope="col">Vypůjčeno dne</th>
        <th scope="col">Vrátit do dne</th>
        <th scope="col">Vráceno?</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r : ${rentals}">
        <td th:each="e : ${r.equipment}">
            <span th:text="${e.name}"></span>
        </td>
        <td th:text="${r.rentalDate}"></td>
        <td th:text="${r.returnDate}"></td>
        <td th:text="${r.returned} ? 'Ano' : 'Ne'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>