<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  th:href="@{/temporary.css}">
</head>
<body>
<table>
  <thead>
  <tr>
    <th scope="col">Rezervované vybavení</th>
    <th scope="col">Rezervace od</th>
    <th scope="col">Rezervace do</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="r : ${reservations}">
    <td th:each="e : ${r.equipment}">
        <span th:text="${e.name}"></span>
    </td>
    <td th:text="${r.reservationDate}"></td>
    <td th:text="${r.expirationDate}"></td>
    <td>
      <form method="post" th:action="@{/cancel-reservation}">
        <input type="hidden" name="id" th:value="${r.id}" />
        <input type="submit" value="Zrušit rezervaci" />
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>