.frst-pan-pujcovna {
    padding: 20px;
    height: 40vh;
    background-image: url(../pictures/yellowjacket.jpg);
    background-repeat: no-repeat;
    background-position-y: -180px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #F7FFF7;
}
.borrow-tool-window{
   margin: 3em 1em 2em 1em;
}
.borrow-tool-window form{
    background-color: #343434;
    color: #FFE66D;
    padding: 0.5em;
}


#item-table-Container{
    max-height: 350px;
    overflow: scroll;
    background-color: #343434;
    border: 1px #343434 solid;

}
#item-table-Container > table{
    width: 100%;
}
#item-table-Container table{
    background-color:#F7FFF7;
    border-collapse: collapse;
    border: 1px solid #343434;
}
th{
    position: sticky;
    top: 0;
    background-color: #2F3061;
    color:#f7fff7;
}
td, th{
    border: 1px solid #343434;
    padding: 8px;
}